<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test Model Machine learning</title>
    <link rel="stylesheet" type="" href="static/style.css">
</head>
<body>
    <h1 class="judul">Software Defect Prediction </h1>
    <div class="note">Allowed file:<br> Java, python, PHP, JavaScript, Go</div>
    <center><form action="129.80.240.130:5000" method="post" enctype="multipart/form-data">
        <label for="predict"><h3>Predict</h3></label>
        <input type="file" id="Predict" name="predictFile" value="predictFile"><br><br>
        <input type="submit">
    </form></center>
</body>
</html>